@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900");
@import "http://propeller.in/components/range-slider/css/nouislider.min.css";
@import "http://propeller.in/components/textfield/css/textfield.css";
@import "http://propeller.in/components/checkbox/css/checkbox.css";
@import "http://propeller.in/components/range-slider/css/range-slider.css";
/* line 1, ../sass/base/_reset.scss */
html, body { background: #00968F; font-family: "Roboto", sans-serif; font-weight: 400; font-size: 28px; line-height: 1.5; color: #FFFFFF; overflow-x: hidden; }

/* line 10, ../sass/base/_reset.scss */
a { color: #000000; text-decoration: none; transition: all 0.5s; }
/* line 15, ../sass/base/_reset.scss */
a:hover { color: #000000; text-decoration: none; }
/* line 20, ../sass/base/_reset.scss */
a:focus { text-decoration: none; }
/* line 24, ../sass/base/_reset.scss */
a:visited { text-decoration: none; }

/* line 29, ../sass/base/_reset.scss */
.img-responsive { max-width: 100%; }

/* line 32, ../sass/base/_reset.scss */
ul { padding: 0; margin: 0; list-style: none; }

/* line 37, ../sass/base/_reset.scss */
.left { float: left; }

/* line 40, ../sass/base/_reset.scss */
.right { float: right; }

/* line 43, ../sass/base/_reset.scss */
.hidden { display: none !important; }

@media (max-width: 768px) { /* line 46, ../sass/base/_reset.scss */
  .hidden-xs { display: none !important; } }

@media (min-width: 768px) { /* line 51, ../sass/base/_reset.scss */
  .visible-xs { display: none !important; } }

/* line 56, ../sass/base/_reset.scss */
.hidden-md { display: block !important; }
@media (min-width: 990px) { /* line 56, ../sass/base/_reset.scss */
  .hidden-md { display: none !important; } }

/* line 2, ../sass/modules/_range.scss */
.range .pmd-range-slider { width: 75%; display: inline-block; height: 8px; }
/* line 7, ../sass/modules/_range.scss */
.range .pmd-range-slider.noUi-connect { background: #00968F; }
/* line 11, ../sass/modules/_range.scss */
.range .pmd-range-slider .noUi-handle { width: 40px; height: 40px; left: -15px; top: -17px; }
/* line 18, ../sass/modules/_range.scss */
.range .pmd-range-slider .noUi-handle:before { background: #00968F; border: 3px solid #ffffff; box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.28); }
/* line 25, ../sass/modules/_range.scss */
.range .pmd-range-slider .noUi-tooltip { background: #00968F; }
/* line 28, ../sass/modules/_range.scss */
.range .pmd-range-slider .noUi-tooltip:before { background: #00968F !important; }
/* line 34, ../sass/modules/_range.scss */
.range .pmd-textfield { display: inline-block; width: 19%; margin-left: 3%; margin-bottom: 0; position: relative; border: 0; }
/* line 42, ../sass/modules/_range.scss */
.range .pmd-textfield:before { content: "$"; position: absolute; font-size: 25px; font-weight: 500; color: #707070; top: -4px; left: -4px; }
/* line 52, ../sass/modules/_range.scss */
.range .pmd-textfield:after { content: "k"; position: absolute; font-size: 25px; font-weight: 500; color: #707070; top: -4px; right: -5px; }
/* line 62, ../sass/modules/_range.scss */
.range .pmd-textfield input { text-align: center; font-size: 25px; font-weight: 500; color: #707070; border: 0; }

/* line 1, ../sass/partials/_header.scss */
header { overflow: hidden; text-align: left; padding: 30px; }
/* line 8, ../sass/partials/_header.scss */
header .steps li { display: inline-block; width: 16px; height: 6px; background: #FFFFFF; margin-right: 2px; border-radius: 50px; }
/* line 16, ../sass/partials/_header.scss */
header .steps li:first-of-type { background: #BFD730; }

/* line 1, ../sass/partials/_footer.scss */
footer { position: fixed; width: 100%; background: #DDE8ED; bottom: 0; text-align: center; padding: 10px; }
/* line 9, ../sass/partials/_footer.scss */
footer .back-btn { position: absolute; left: 10px; }
/* line 14, ../sass/partials/_footer.scss */
footer .next-btn { position: absolute; top: -34px; right: 10px; background: #A3A3A3; border-radius: 50px; width: 75px; height: 75px; text-align: center; padding-top: 8px; border: 7px solid #FFFFFF; }
/* line 28, ../sass/partials/_footer.scss */
footer .contact li { display: inline-block; margin: 0 10px; }

/* line 1, ../sass/partials/_card.scss */
.card { width: 100%; border-radius: 0; text-align: center; box-shadow: 0 -4px 20px rgba(0, 0, 0, 0.46); height: 72vh; bottom: 0; position: absolute; padding: 30px; transition: all 0.5s; }
/* line 14, ../sass/partials/_card.scss */
.card.b { height: 61.7vh; }
/* line 17, ../sass/partials/_card.scss */
.card.c { height: 51.3vh; }
/* line 20, ../sass/partials/_card.scss */
.card.d { height: 41vh; }
/* line 24, ../sass/partials/_card.scss */
.card.active { height: 87vh; transition: all 0.5s; }
/* line 29, ../sass/partials/_card.scss */
.card.slide { padding: 0; height: 58vh; position: fixed; transition: all 0.5s; bottom: calc(-58vh + 160px); }
/* line 36, ../sass/partials/_card.scss */
.card.slide.small { height: 45vh; bottom: calc(-45vh + 160px); }
/* line 41, ../sass/partials/_card.scss */
.card.slide.large { height: 75vh; bottom: calc(-75vh + 160px); }
/* line 46, ../sass/partials/_card.scss */
.card.slide .bmd-form-group { padding: 0; }
/* line 50, ../sass/partials/_card.scss */
.card.slide .question-wrapper { background: #00968F; padding: 15px 30px; text-align: left; position: relative; line-height: 1.3; }
/* line 57, ../sass/partials/_card.scss */
.card.slide .question-wrapper .question { font-size: 22px; font-weight: 700; }
/* line 61, ../sass/partials/_card.scss */
.card.slide .question-wrapper .question span { font-size: 16px; display: block; font-weight: 400; }
/* line 68, ../sass/partials/_card.scss */
.card.slide .question-wrapper:after { content: ""; position: absolute; width: 45px; height: 45px; border-radius: 50px; background: #00968F; background-image: url(img/icon-arrow.png); background-repeat: no-repeat; background-position: center; top: -26px; right: 44%; transform: rotate(180deg); transition: all 0.5s; }
/* line 85, ../sass/partials/_card.scss */
.card.slide .answer-wrapper { padding: 20px 30px; color: #000000; text-align: left; }
/* line 90, ../sass/partials/_card.scss */
.card.slide .answer-wrapper .title { font-size: 16px; font-weight: 700; }
/* line 94, ../sass/partials/_card.scss */
.card.slide .answer-wrapper .title span { display: block; color: #00968F; font-size: 15px; font-weight: 300; }
/* line 102, ../sass/partials/_card.scss */
.card.slide .answer-wrapper .subtitle { font-size: 14px; font-weight: 700; }
/* line 107, ../sass/partials/_card.scss */
.card.slide .answer-wrapper .radio label .bmd-radio:after, .card.slide .answer-wrapper label.radio-inline .bmd-radio:after { width: 20px; height: 20px; border: 2px solid rgba(0, 0, 0, 0.54); }
/* line 112, ../sass/partials/_card.scss */
.card.slide .answer-wrapper .radio label .bmd-radio:before, .card.slide .answer-wrapper label.radio-inline .bmd-radio:before { width: 20px; height: 20px; }
/* line 116, ../sass/partials/_card.scss */
.card.slide .answer-wrapper .radio label input[type=radio]:checked ~ .bmd-radio:after, .card.slide .answer-wrapper label.radio-inline input[type=radio]:checked ~ .bmd-radio:after { border-color: #009688; }
/* line 119, ../sass/partials/_card.scss */
.card.slide .answer-wrapper .bmd-radio { top: 4px; }
/* line 123, ../sass/partials/_card.scss */
.card.slide .answer-wrapper .radio label { font-size: 15px !important; color: #000000; }
/* line 127, ../sass/partials/_card.scss */
.card.slide .answer-wrapper .radio label.full { width: 100%; text-align: right; font-size: 20px !important; padding: 5px 30px; margin-bottom: -1px; }
/* line 134, ../sass/partials/_card.scss */
.card.slide .answer-wrapper .radio label.full input { float: left; }
/* line 138, ../sass/partials/_card.scss */
.card.slide .answer-wrapper .radio label.full .bmd-radio { float: left; left: 0; margin-top: 2px; }
/* line 147, ../sass/partials/_card.scss */
.card.slide.show { position: absolute; bottom: 0; top: initial; transition: all 0.5s; }
/* line 155, ../sass/partials/_card.scss */
.card.slide.show .question-wrapper:after { transform: rotate(0); transition: top 0.5s; }
/* line 164, ../sass/partials/_card.scss */
.card label { padding-bottom: 20px; position: relative !important; font-size: 25px !important; }
/* line 170, ../sass/partials/_card.scss */
.card input { text-align: center; border: 0; width: 100%; }
/* line 175, ../sass/partials/_card.scss */
.card input:focus, .card input:active { outline: none; }
/* line 180, ../sass/partials/_card.scss */
.card .input-container { padding: 0; }
/* line 184, ../sass/partials/_card.scss */
.card .radio { font-size: 0px; margin-top: 15px; }
/* line 188, ../sass/partials/_card.scss */
.card .radio label { border: 1px solid #6d6d6d; width: 50%; padding: 10px 30px; font-size: 20px !important; }
/* line 194, ../sass/partials/_card.scss */
.card .radio label .bmd-radio { position: relative; padding: 0px 0px; margin-right: 2px; top: 8px; }

/* line 2, ../sass/partials/_hero.scss */
.description p { font-size: 26px; padding-bottom: 20px; }
/* line 8, ../sass/partials/_hero.scss */
.description.total-cost p { font-size: 20px; padding-bottom: 25px; max-width: 65%; }
/* line 15, ../sass/partials/_hero.scss */
.description .quote { line-height: 120%; text-align: right; position: absolute; right: 3px; bottom: 25px; }
/* line 22, ../sass/partials/_hero.scss */
.description .quote span { position: relative; top: -43px; left: 5px; font-size: 49px; }
/* line 29, ../sass/partials/_hero.scss */
.description .quote .number { display: inline-block; font-size: 100px; position: relative; top: 10px; }
/* line 35, ../sass/partials/_hero.scss */
.description .quote .number em { display: block; font-size: 22px; font-style: initial; margin-top: 31px; text-align: center; }

/* Range Slider css */
/*Propeller textfield css*/
/*Propeller checkbox css*/
/*Propeller Range Slider css*/
/* line 1, ../sass/pages/_home.scss */
.page-home { text-align: center; }
/* line 5, ../sass/pages/_home.scss */
.page-home header .steps { display: none; }
/* line 10, ../sass/pages/_home.scss */
.page-home .content { height: 100vh; max-height: calc(100vh - 105px); }
/* line 15, ../sass/pages/_home.scss */
.page-home .buttons { height: 30%; }
/* line 19, ../sass/pages/_home.scss */
.page-home .description { height: 70%; display: flex; align-items: center; }
/* line 24, ../sass/pages/_home.scss */
.page-home .description p { color: #FFFFFF; margin-bottom: 20px; font-size: 28px; }
/* line 31, ../sass/pages/_home.scss */
.page-home .btn { background: #DC4588; color: #FFFFFF; display: block; width: fit-content; margin: 0 auto; border-radius: 2px; padding: 16px 62px; margin-bottom: 30px; letter-spacing: 1.5px; font-size: 14px; }
/* line 44, ../sass/pages/_home.scss */
.page-home .lnk { font-size: 16px; color: #FFFFFF; }
/* line 49, ../sass/pages/_home.scss */
.page-home footer { display: none; }

/* line 1, ../sass/pages/_reference.scss */
.page-reference { text-align: center; }
/* line 5, ../sass/pages/_reference.scss */
.page-reference header .steps { display: none; }
/* line 10, ../sass/pages/_reference.scss */
.page-reference .content { height: 100vh; max-height: calc(100vh - 105px); }
/* line 15, ../sass/pages/_reference.scss */
.page-reference .buttons { height: 30%; }
/* line 19, ../sass/pages/_reference.scss */
.page-reference .description { height: 70%; display: flex; align-items: center; }
/* line 24, ../sass/pages/_reference.scss */
.page-reference .description p { color: #FFFFFF; margin-bottom: 20px; font-size: 28px; }
/* line 33, ../sass/pages/_reference.scss */
.page-reference .card .input-container { position: absolute; top: calc(30% - 101px); width: calc(100% - 60px); }
/* line 38, ../sass/pages/_reference.scss */
.page-reference .card .input-container:before { content: ""; position: absolute; bottom: 0; right: 10px; width: 25px; height: 25px; background-image: url(img/icon-send.png); background-repeat: no-repeat; background-size: contain; background-position: center; z-index: 1; opacity: 0; visibility: hidden; transition: all 0.3s; }
/* line 56, ../sass/pages/_reference.scss */
.page-reference .card .input-container.is-focused:before { bottom: 10px; opacity: 1; visibility: visible; transition: all 0.3s; }

/* line 3, ../sass/pages/_step1.scss */
.page-step1 header .logo { display: none; }
/* line 9, ../sass/pages/_step1.scss */
.page-step1 .card p { color: #000000; font-size: 14px; letter-spacing: -0.5px; opacity: 0; visibility: hidden; transition: all 0.5s; }
/* line 18, ../sass/pages/_step1.scss */
.page-step1 .card .input-container { position: absolute; top: calc(50% - 101px); width: calc(100% - 60px); }
/* line 23, ../sass/pages/_step1.scss */
.page-step1 .card .input-container:before { content: ""; position: absolute; bottom: 0; right: 10px; width: 25px; height: 25px; background-image: url(img/icon-send.png); background-repeat: no-repeat; background-size: contain; background-position: center; z-index: 1; opacity: 0; visibility: hidden; transition: all 0.3s; }
/* line 41, ../sass/pages/_step1.scss */
.page-step1 .card .input-container.is-focused:before { bottom: 10px; opacity: 1; visibility: visible; transition: all 0.3s; }
/* line 52, ../sass/pages/_step1.scss */
.page-step1 .card.active p { opacity: 1; visibility: visible; transition: all 0.5s; }
/* line 61, ../sass/pages/_step1.scss */
.page-step1 .field-completed { background: #FFFFFF; color: #6d6d6d; width: 100%; margin-bottom: 2px; }
/* line 67, ../sass/pages/_step1.scss */
.page-step1 .field-completed span { font-size: 14px; }
/* line 71, ../sass/pages/_step1.scss */
.page-step1 .field-completed p { font-size: 16px; color: #000000; margin-bottom: 15px; }
/* line 77, ../sass/pages/_step1.scss */
.page-step1 .field-completed a { position: absolute; right: 15px; width: 50px; height: 50px; top: 50%; font-size: 0; background-image: url(img/icon-edit.png); background-size: contain; background-repeat: no-repeat; }
/* line 91, ../sass/pages/_step1.scss */
.page-step1 .mini-card { background: #FFFFFF; width: 100%; color: #00968F; }
/* line 96, ../sass/pages/_step1.scss */
.page-step1 .mini-card .bmd-form-group { padding-top: 15px; }
/* line 100, ../sass/pages/_step1.scss */
.page-step1 .mini-card p { font-size: 25px; text-align: center; margin: 0; }

/* line 3, ../sass/pages/_step2.scss */
.page-step2 header .logo { display: none; }
/* line 6, ../sass/pages/_step2.scss */
.page-step2 header .steps li:nth-of-type(2) { background: #BFD730; }
/* line 12, ../sass/pages/_step2.scss */
.page-step2 .desctiption .quote { margin-top: 115px; }
/* line 16, ../sass/pages/_step2.scss */
.page-step2 table { border-top: 2px solid; }
/* line 19, ../sass/pages/_step2.scss */
.page-step2 table .edit { width: 15px; height: 15px; background-image: url(img/icon-edit2.png); background-repeat: no-repeat; background-size: contain; display: block; margin-top: 10px; }
/* line 30, ../sass/pages/_step2.scss */
.page-step2 .table, .page-step2 .table th, .page-step2 .table td { color: #FFFFFF; font-size: 14px; font-weight: 400; }
/* line 35, ../sass/pages/_step2.scss */
.page-step2 .table:nth-of-type(2), .page-step2 .table th:nth-of-type(2), .page-step2 .table td:nth-of-type(2) { font-size: 20px; }
/* line 39, ../sass/pages/_step2.scss */
.page-step2 .table td, .page-step2 .table th { padding: 10px 15px; }
/* line 43, ../sass/pages/_step2.scss */
.page-step2 .table th { border-bottom: 1px solid rgba(255, 255, 255, 0.5); }
/* line 46, ../sass/pages/_step2.scss */
.page-step2 .table td { border-top: none !important; }
/* line 50, ../sass/pages/_step2.scss */
.page-step2 .card { transition: all 0.5s; }
/* line 52, ../sass/pages/_step2.scss */
.page-step2 .card p { color: #6d6d6d; font-size: 14px; padding: 10px 0; margin: 0px; letter-spacing: -0.5px; }
/* line 60, ../sass/pages/_step2.scss */
.page-step2 .card .input-container { position: absolute; top: calc(50% - 101px); width: calc(100% - 60px); }
/* line 66, ../sass/pages/_step2.scss */
.page-step2 .card.active { height: 87vh; transition: all 0.5s; }
/* line 70, ../sass/pages/_step2.scss */
.page-step2 .card.active p { opacity: 1; visibility: visible; transition: all 0.5s; }
/* line 79, ../sass/pages/_step2.scss */
.page-step2 .mini-card { background: #FFFFFF; width: 100%; color: #00968F; }

/* line 3, ../sass/pages/_step3.scss */
.page-step3 header .logo { display: none; }
/* line 6, ../sass/pages/_step3.scss */
.page-step3 header .steps li:nth-of-type(2), .page-step3 header .steps li:nth-of-type(3) { background: #BFD730; }
/* line 12, ../sass/pages/_step3.scss */
.page-step3 .desctiption .quote { margin-top: 115px; }
/* line 16, ../sass/pages/_step3.scss */
.page-step3 table { border-top: 2px solid; }
/* line 19, ../sass/pages/_step3.scss */
.page-step3 table .edit { width: 15px; height: 15px; background-image: url(img/icon-edit2.png); background-repeat: no-repeat; background-size: contain; display: block; margin-top: 10px; }
/* line 30, ../sass/pages/_step3.scss */
.page-step3 .table, .page-step3 .table th, .page-step3 .table td { color: #FFFFFF; font-size: 14px; font-weight: 400; }
/* line 35, ../sass/pages/_step3.scss */
.page-step3 .table:nth-of-type(2), .page-step3 .table th:nth-of-type(2), .page-step3 .table td:nth-of-type(2) { font-size: 20px; }
/* line 39, ../sass/pages/_step3.scss */
.page-step3 .table td, .page-step3 .table th { padding: 10px 15px; }
/* line 43, ../sass/pages/_step3.scss */
.page-step3 .table th { border-bottom: 1px solid rgba(255, 255, 255, 0.5); }
/* line 46, ../sass/pages/_step3.scss */
.page-step3 .table td { border-top: none !important; }
/* line 50, ../sass/pages/_step3.scss */
.page-step3 .card { transition: all 0.5s; }
/* line 52, ../sass/pages/_step3.scss */
.page-step3 .card p { color: #6d6d6d; font-size: 14px; padding: 10px 0; margin: 0px; letter-spacing: -0.5px; }
/* line 60, ../sass/pages/_step3.scss */
.page-step3 .card .input-container { position: absolute; top: calc(50% - 101px); width: calc(100% - 60px); }
/* line 66, ../sass/pages/_step3.scss */
.page-step3 .card.active { height: 87vh; transition: all 0.5s; }
/* line 70, ../sass/pages/_step3.scss */
.page-step3 .card.active p { opacity: 1; visibility: visible; transition: all 0.5s; }
/* line 79, ../sass/pages/_step3.scss */
.page-step3 .pick-date { margin-top: -30px; }
/* line 82, ../sass/pages/_step3.scss */
.page-step3 .pick-date .gj-icon { font-size: 0; width: 20px; height: 20px; background-image: url(img/calendar-icon.png); background-position: center; background-repeat: no-repeat; background-size: contain; top: 23px; right: 10px; }
/* line 94, ../sass/pages/_step3.scss */
.page-step3 .pick-date label { font-size: 18px !important; padding: 0; }
/* line 99, ../sass/pages/_step3.scss */
.page-step3 .pick-date input { text-align: left; font-size: 18px; padding: 25px 0 11px; }
/* line 107, ../sass/pages/_step3.scss */
.page-step3 .pick-date .form-group.is-filled label { color: #009688; }
/* line 111, ../sass/pages/_step3.scss */
.page-step3 .pick-date .form-group.is-filled .form-control { background-size: 100% 100%,100% 100%; }
/* line 119, ../sass/pages/_step3.scss */
.page-step3 .datepicker { width: 317px; border: 0; box-shadow: 0 0 20px rgba(0, 0, 0, 0.22); border-radius: 2px; }
/* line 125, ../sass/pages/_step3.scss */
.page-step3 .datepicker .chevron-left, .page-step3 .datepicker .chevron-right { width: 25px; height: 25px; font-size: 0; background-image: url(img/arrow-left.png); background-position: center; background-repeat: no-repeat; background-size: contain; }
/* line 135, ../sass/pages/_step3.scss */
.page-step3 .datepicker .chevron-right { background-image: url(img/arrow-right.png); }
/* line 140, ../sass/pages/_step3.scss */
.page-step3 .datepicker .gj-picker-md div[role=navigator] { width: 317px; }
/* line 144, ../sass/pages/_step3.scss */
.page-step3 .datepicker table { width: 290px; border: 0; margin: 10px; }
/* line 151, ../sass/pages/_step3.scss */
.page-step3 .datepicker table tr td.selected.gj-cursor-pointer div { background: #00968F; }
/* line 155, ../sass/pages/_step3.scss */
.page-step3 .datepicker table tr td.today div { color: #00968F; }
/* line 160, ../sass/pages/_step3.scss */
.page-step3 .small-form { margin-top: -30px; }
/* line 163, ../sass/pages/_step3.scss */
.page-step3 .small-form label { font-size: 15px !important; font-weight: 700; color: #000000; padding-bottom: 10px; }
/* line 170, ../sass/pages/_step3.scss */
.page-step3 .small-form input, .page-step3 .small-form select { text-align: left; font-size: 15px; padding: 22px 0 6px; height: auto !important; background-image: linear-gradient(0deg, #009688 2px, rgba(0, 150, 136, 0) 0%), linear-gradient(0deg, rgba(0, 0, 0, 0.26) 1px, rgba(0, 0, 0, 0) 0%); }
/* line 177, ../sass/pages/_step3.scss */
.page-step3 .small-form input::placeholder, .page-step3 .small-form select::placeholder { text-align: left; font-size: 15px; color: #9F9595; }
/* line 184, ../sass/pages/_step3.scss */
.page-step3 .small-form .half { width: 50%; }
/* line 188, ../sass/pages/_step3.scss */
.page-step3 .small-form .form-group { margin: 0; margin-top: -10px; }
/* line 194, ../sass/pages/_step3.scss */
.page-step3 .small-form .is-focused label { color: #00968F; }
/* line 200, ../sass/pages/_step3.scss */
.page-step3 .select-group { position: relative; }
/* line 203, ../sass/pages/_step3.scss */
.page-step3 .select-group:after { content: ""; position: absolute; width: 10px; height: 10px; background-image: url(img/arrow-down.png); background-position: center; background-repeat: no-repeat; background-size: contain; bottom: 9px; right: 5px; }
/* line 218, ../sass/pages/_step3.scss */
.page-step3 .form-check .form-check-input { width: auto; top: 6px; }
/* line 222, ../sass/pages/_step3.scss */
.page-step3 .form-check .form-check-label { margin-left: -10px; color: #776E6E; font-weight: 400; }

/* line 1, ../sass/pages/_step4.scss */
.page-step4 > * { position: relative; z-index: 2; }

/* line 5, ../sass/pages/_step4.scss */
.page-step4 { position: relative; padding-bottom: 100px; }
/* line 9, ../sass/pages/_step4.scss */
.page-step4:after { content: ""; position: fixed; width: 100%; height: 55vh; bottom: 0; left: 0; background: #FFFFFF; display: block; z-index: 0; box-shadow: 0px -4px 20px rgba(0, 0, 0, 0.35); }
/* line 23, ../sass/pages/_step4.scss */
.page-step4 header .logo { display: none; }
/* line 26, ../sass/pages/_step4.scss */
.page-step4 header .steps li:nth-of-type(2), .page-step4 header .steps li:nth-of-type(3), .page-step4 header .steps li:nth-of-type(4) { background: #BFD730; }
/* line 31, ../sass/pages/_step4.scss */
.page-step4 .green { color: #00968F; }
/* line 37, ../sass/pages/_step4.scss */
.page-step4 .description .disclosure { margin: 0; font-size: 22px; font-weight: 700; padding: 0; }
/* line 43, ../sass/pages/_step4.scss */
.page-step4 .description .accept { font-size: 16px; margin: 0; }
/* line 49, ../sass/pages/_step4.scss */
.page-step4 .table, .page-step4 .table th, .page-step4 .table td { font-size: 14px; font-weight: 400; border: 0; }
/* line 54, ../sass/pages/_step4.scss */
.page-step4 .table tr { height: 38px; }
/* line 59, ../sass/pages/_step4.scss */
.page-step4 .table tr td:nth-of-type(2) { text-align: right; }
/* line 64, ../sass/pages/_step4.scss */
.page-step4 .table td, .page-step4 .table th { padding: 0; vertical-align: middle; width: 82%; }
/* line 70, ../sass/pages/_step4.scss */
.page-step4 .table { margin: 0; }
/* line 74, ../sass/pages/_step4.scss */
.page-step4 .table thead th { font-size: 20px; color: #464646; }
/* line 80, ../sass/pages/_step4.scss */
.page-step4 .table .edit { width: 15px; height: 15px; background-image: url(img/icon-edit3.png); background-repeat: no-repeat; background-size: contain; display: block; margin-top: 10px; }
/* line 89, ../sass/pages/_step4.scss */
.page-step4 .table .edit.hide { opacity: 0; visibility: hidden; }
/* line 95, ../sass/pages/_step4.scss */
.page-step4 .table tr td.price, .page-step4 .table tr th.price { font-size: 25px; text-align: left; }
/* line 100, ../sass/pages/_step4.scss */
.page-step4 .card { transition: all 0.5s; }
/* line 102, ../sass/pages/_step4.scss */
.page-step4 .card p { color: #6d6d6d; font-size: 14px; padding: 10px 0; margin: 0px; letter-spacing: -0.5px; }
/* line 110, ../sass/pages/_step4.scss */
.page-step4 .card .input-container { position: absolute; top: calc(50% - 101px); width: calc(100% - 60px); }
/* line 116, ../sass/pages/_step4.scss */
.page-step4 .card.active { height: 87vh; transition: all 0.5s; }
/* line 120, ../sass/pages/_step4.scss */
.page-step4 .card.active p { opacity: 1; visibility: visible; transition: all 0.5s; }
/* line 130, ../sass/pages/_step4.scss */
.page-step4 .small-form { margin-top: -30px; padding-bottom: 20px; }
/* line 134, ../sass/pages/_step4.scss */
.page-step4 .small-form label { font-size: 15px !important; font-weight: 700; color: #000000; padding-bottom: 10px; }
/* line 141, ../sass/pages/_step4.scss */
.page-step4 .small-form input, .page-step4 .small-form select { text-align: left; font-size: 15px; padding: 22px 0 6px; height: auto !important; background-image: linear-gradient(0deg, #009688 2px, rgba(0, 150, 136, 0) 0%), linear-gradient(0deg, rgba(0, 0, 0, 0.26) 1px, rgba(0, 0, 0, 0) 0%); }
/* line 148, ../sass/pages/_step4.scss */
.page-step4 .small-form input::placeholder, .page-step4 .small-form select::placeholder { text-align: left; font-size: 15px; color: #9F9595; }
/* line 155, ../sass/pages/_step4.scss */
.page-step4 .small-form .half { width: 48%; display: inline-block; }
/* line 160, ../sass/pages/_step4.scss */
.page-step4 .small-form .form-group { margin: 0; margin-top: -10px; }
/* line 166, ../sass/pages/_step4.scss */
.page-step4 .small-form .is-focused label { color: #00968F; }
/* line 172, ../sass/pages/_step4.scss */
.page-step4 .select-group { position: relative; }
/* line 175, ../sass/pages/_step4.scss */
.page-step4 .select-group:after { content: ""; position: absolute; width: 10px; height: 10px; background-image: url(img/arrow-down.png); background-position: center; background-repeat: no-repeat; background-size: contain; bottom: 9px; right: 5px; }
/* line 189, ../sass/pages/_step4.scss */
.page-step4 .ticket-border { width: 100%; height: 30px; margin-bottom: 20px; background-image: url(img/border-ticket.png); background-repeat: repeat-x; background-position: bottom; margin-top: -1px; position: relative; }
/* line 200, ../sass/pages/_step4.scss */
.page-step4 .ticket { background: #FFFFFF; color: #464646; padding: 0 20px; position: relative; box-shadow: 0px 0 10px rgba(0, 0, 0, 0.15); }
/* line 207, ../sass/pages/_step4.scss */
.page-step4 .ticket .switches { text-align: center; }
/* line 211, ../sass/pages/_step4.scss */
.page-step4 .ticket .switches li p { display: inline-block; margin: 0; font-size: 18px; font-weight: 700; vertical-align: -webkit-baseline-middle; padding-top: 14px; }
/* line 220, ../sass/pages/_step4.scss */
.page-step4 .ticket .switches li .bmd-form-group { display: inline-block; padding: 0; margin: 0 15px; }
/* line 228, ../sass/pages/_step4.scss */
.page-step4 .ticket .total-cost { position: relative; overflow: hidden; color: #00968F; min-height: 142px; position: relative; margin-bottom: 40px; }
/* line 236, ../sass/pages/_step4.scss */
.page-step4 .ticket .total-cost .left { font-size: 30px; line-height: 1.1; padding: 0; margin: 0; position: absolute; bottom: 0; letter-spacing: -1px; }
/* line 246, ../sass/pages/_step4.scss */
.page-step4 .ticket .total-cost .quote { right: 40px; bottom: 30px; }
/* line 250, ../sass/pages/_step4.scss */
.page-step4 .ticket .total-cost .quote span { top: 4px; }
/* line 253, ../sass/pages/_step4.scss */
.page-step4 .ticket .total-cost .quote .number { letter-spacing: -8px; }
/* line 256, ../sass/pages/_step4.scss */
.page-step4 .ticket .total-cost .quote .number em { position: absolute; letter-spacing: 0; top: -40px; right: -40px; }
/* line 265, ../sass/pages/_step4.scss */
.page-step4 .ticket .total-cost .arrow { width: 25px; height: 25px; background-image: url(img/arrow-down-green.png); background-repeat: no-repeat; background-size: contain; position: absolute; display: block; right: 0; bottom: 0; transform: rotate(180deg); transition: all 0.5s; }
/* line 278, ../sass/pages/_step4.scss */
.page-step4 .ticket .total-cost .arrow.collapsed { transform: rotate(0); bottom: -9px; transition: all 0.5s; }
/* line 286, ../sass/pages/_step4.scss */
.page-step4 .ticket .disclosure-content { padding-bottom: 20px; }
/* line 289, ../sass/pages/_step4.scss */
.page-step4 .ticket .disclosure-content .title { font-size: 15px; font-weight: 700; padding-top: 20px; margin-bottom: 20px; }
/* line 296, ../sass/pages/_step4.scss */
.page-step4 .ticket .disclosure-content p { font-size: 15px; }
/* line 299, ../sass/pages/_step4.scss */
.page-step4 .ticket .disclosure-content p:last-of-type { margin: 0; }
/* line 306, ../sass/pages/_step4.scss */
.page-step4 .line { width: calc(100% + 40px); margin: 10px 0; margin-left: -20px; height: 2px; background: #00968F; transition: none; }
/* line 315, ../sass/pages/_step4.scss */
.page-step4 .btn-border { display: block; margin: 0 auto; width: 200px; border: 1px solid #A0A0A0; border-radius: 2px; color: #DC4588; font-size: 14px; text-align: center; padding: 12px 0; margin-bottom: 10px; }
/* line 327, ../sass/pages/_step4.scss */
.page-step4 .btn-border.pink { border: 3px solid #DC4588; border-radius: 10px; width: 140px; font-size: 20px; }
/* line 336, ../sass/pages/_step4.scss */
.page-step4 footer { position: fixed; }

/* line 1, ../sass/pages/_step5.scss */
.page-step5 > * { position: relative; z-index: 2; }

/* line 5, ../sass/pages/_step5.scss */
.page-step5 { position: relative; padding-bottom: 100px; }
/* line 9, ../sass/pages/_step5.scss */
.page-step5:after { content: ""; position: fixed; width: 100%; height: 55vh; bottom: 0; left: 0; background: #FFFFFF; display: block; z-index: 0; box-shadow: 0px -4px 20px rgba(0, 0, 0, 0.35); }
/* line 23, ../sass/pages/_step5.scss */
.page-step5 header .logo { display: none; }
/* line 26, ../sass/pages/_step5.scss */
.page-step5 header .steps li:nth-of-type(2), .page-step5 header .steps li:nth-of-type(3), .page-step5 header .steps li:nth-of-type(4), .page-step5 header .steps li:nth-of-type(5) { background: #BFD730; }
/* line 32, ../sass/pages/_step5.scss */
.page-step5 .description p.end { text-align: center; font-size: 40px; }
/* line 38, ../sass/pages/_step5.scss */
.page-step5 .ticket-border { width: 100%; height: 30px; margin-bottom: 20px; background-image: url(img/border-ticket.png); background-repeat: repeat-x; background-position: bottom; margin-top: -1px; position: relative; }
/* line 49, ../sass/pages/_step5.scss */
.page-step5 .ticket { background: #FFFFFF; color: #464646; padding: 0 20px; position: relative; box-shadow: 0px 0 10px rgba(0, 0, 0, 0.15); }
/* line 56, ../sass/pages/_step5.scss */
.page-step5 .ticket .reviewing { text-align: center; font-size: 18px; padding-top: 20px; margin: 0; }
/* line 65, ../sass/pages/_step5.scss */
.page-step5 .rate { border: 1px solid #BFD730; text-align: center; color: #464646; padding: 10px 0; }
/* line 71, ../sass/pages/_step5.scss */
.page-step5 .rate p { font-size: 18px; margin-bottom: 5px; }
/* line 77, ../sass/pages/_step5.scss */
.page-step5 .rate .stars li { display: inline-block; }
/* line 83, ../sass/pages/_step5.scss */
.page-step5 footer { position: fixed; }
