// Colors 
$white: #FFFFFF;
$black: #000000;
$green: #00968F;
$light-green: #BFD730;
$pink: #DC4588;

// Font weights
$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;
$extra-bold: 900;

// Base Font
$base-font-family: 'Roboto', sans-serif;
$base-font-weight: $regular;
$base-font-size: 28px;
$base-line-height: 1.5;

