header{
    overflow: hidden;
    text-align: left;
    padding: 30px;
    
    
    .steps{
        li{
            display: inline-block;
            width: 16px;
            height: 6px;
            background: $white;
            margin-right: 2px;
            border-radius: 50px;
            
            &:first-of-type{
                background: $light-green;
            }
        }
    }
}