.description {
    p {
        font-size: 26px;
        padding-bottom: 20px;
    }

    &.total-cost {
        p {
            font-size: 20px;
            padding-bottom: 25px;
            max-width: 65%;
        }
    }

    .quote {
        line-height: 120%;
        text-align: right;
        position: absolute;
        right: 3px;
        bottom: 25px;

        span {
            position: relative;
            top: -43px;
            left: 5px;
            font-size: 49px;
        }

        .number {
            display: inline-block;
            font-size: 100px;
            position: relative;
            top: 10px;

            em {
                display: block;
                font-size: 22px;
                font-style: initial;
                margin-top: 31px;
                text-align: center;
            }
        }
    }
}
