.page-step2{
    header{
        .logo{
            display: none;
        }
        .steps li:nth-of-type(2) {
            background: #BFD730;
        }
    }

    .desctiption {
        .quote {
            margin-top: 115px;
        }
    }
    table {
        border-top: 2px solid;
        
        .edit{
            width: 15px;
            height: 15px;
            background-image: url(img/icon-edit2.png);
            background-repeat: no-repeat;
            background-size: contain;
            display: block;
            margin-top: 10px;
        }
    }

    .table, .table th, .table td {
        color: $white;
        font-size: 14px;
        font-weight: $regular;
        
        &:nth-of-type(2){
            font-size: 20px;
        }
    }
    .table td, .table th {
        padding: 10px 15px;
    }

    .table th {
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    }
    .table td {
        border-top: none!important;
    }
    
    .card{
        transition: all 0.5s;
        p{
            color: $grey;
            font-size: 14px;
            padding: 10px 0;
            margin: 0px;
            letter-spacing: -0.5px;
        }
        
        .input-container{
            position: absolute;
            top: calc(50% - 101px);
            width: calc(100% - 60px);
        }
        
        &.active{
            height: 87vh;
            transition: all 0.5s;
            
            p{
                opacity: 1;
                visibility: visible;
                transition: all 0.5s;
            }
        }
        
        &.slide{
           transition-delay: -0.15s;
        }
    }

    .mini-card {
        background: $white;
        width: 100%;
        color: $green;
    }

}