.page-step1{
    header{
        .logo{
            display: none;
        }
    }

    .field-completed {
        background: $white;
        color: $grey;
        width: 100%;
        margin-bottom: 2px;

        span {
            font-size: 12px;
        }

        p {
            font-size: 13px;
            color: $black;
            margin-bottom: 15px;
        }

        a {
            position: absolute;
            right: 15px;
            top: 50%;
            font-size: 12px;
        }

    }
    
    .card{
        transition: all 0.5s;
        p{
            color: $black;
            font-size: 14px;
            letter-spacing: -0.5px;
            opacity: 0;
            visibility: hidden;
            transition: all 0.5s;
        }
        
        .input-container{
            position: absolute;
            top: calc(50% - 101px);
            width: calc(100% - 60px);
        }
        
        &.active{
            height: 87vh;
            transition: all 0.5s;
            
            p{
                opacity: 1;
                visibility: visible;
                transition: all 0.5s;
            }
        }
    }

    .mini-card {
        background: $white;
        width: 100%;
        color: $green;
    }

}